<template>
  <div ref="nodeRef" class="active-indicator" />
</template>
<script>
import { spring, styler, value } from 'popmotion'
import { clamp, progress } from '@popmotion/popcorn'

export default {
  props: {
    position: {
      type: Object,
      default: () => ({ x: 0, y: 0 })
    }
  },
  data() {
    return {
      progress: 0
    }
  },
  computed: {
    adjustedTranslation() {
      const halfNodeWidth = this.$refs.nodeRef
        ? this.$refs.nodeRef.clientWidth / 2
        : 0
      return this.position.x - halfNodeWidth
    }
  },
  watch: {
    adjustedTranslation(val) {
      this.trans && this.trans.stop()
      const from = this.ballX.get()
      this.trans = spring({
        to: val,
        from,
        stiffness: 90,
        damping: 30
      }).start({
        update: v => {
          this.ballX.update(v)
          this.squeeze()
          this.progress = progress(from, val, v)
        }
      })
    },
    progress(val, oldVal) {
      if (val > 0.8 && oldVal < 0.8) {
        this.$emit('complete')
      }
    }
  },
  mounted() {
    const ballStyler = styler(this.$refs.nodeRef)
    this.ballX = value(0, v => {
      ballStyler.set('x', v)
      ballStyler.set('y', this.position.y)
    })
    this.ballScale = value(1, v => {
      ballStyler.set('scale', v)
    })
  },
  methods: {
    squeeze() {
      spring({
        to: 1,
        from: 1,
        stiffness: 100,
        damping: 20
      })
        .pipe(s => {
          return clamp(
            0.2,
            1,
            s -
              Math.abs(this.ballX.getVelocity()) *
                (this.$store.state.isMobile ? 0.002 : 0.0005)
          )
        })
        .start(this.ballScale)
    }
  }
}
</script>

<style lang="scss">
.active-indicator {
  position: absolute;
  width: 3.6em;
  height: 3.6em;
  border-radius: 50%;
  background-color: #f26522;
  @media #{$md} {
    width: 6.5em;
    height: 6.5em;
  }
}
</style>
