<template>
  <!-- eslint-disable vue/no-v-html -->
  <div
    id="step-navigation"
    v-scroll-to="{ el: '#step-navigation', offset: -30 }"
    class="step__navigation"
  >
    <ActiveIndicator
      :position="indicatorPosition"
      @complete="
        () => {
          animationComplete = true
        }
      "
    />
    <NavigationItem
      v-for="(step, index) of stepLabels"
      ref="navItem"
      :key="index"
      :active="index === currentStep && animationComplete"
      :index="index + 1"
      @click.native="onItemClick(index)"
    >
      <div
        ref="ico"
        slot="ico"
        v-html="
          require(`!html-loader!@/assets/images/ico_step${index + 1}.svg`)
        "
      ></div>
      <template slot="title">{{ step }}</template>
    </NavigationItem>
  </div>
</template>

<script>
import { debounce } from 'lodash'
import NavigationItem from './navigationItem'
import ActiveIndicator from './activeIndicator'

export default {
  components: {
    NavigationItem,
    ActiveIndicator
  },
  model: {
    prop: 'currentStep',
    event: 'change'
  },
  props: {
    currentStep: {
      type: Number,
      default: 0
    },
    stepLabels: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      indicatorPosition: { x: 0, y: -5 },
      animationComplete: false
    }
  },
  watch: {
    currentStep(val, oldVal) {
      if (val !== oldVal) {
        this.animationComplete = false
        this.adjustIndicatorPosition(this.$refs.navItem[val].$el)
      }
    }
  },
  mounted() {
    window.addEventListener(
      'resize',
      debounce(
        () =>
          this.adjustIndicatorPosition(
            this.$refs.navItem[this.currentStep].$el
          ),
        500
      )
    )
    this.adjustIndicatorPosition(this.$refs.navItem[0].$el)
  },
  methods: {
    onItemClick(index) {
      this.$emit('change', index)
    },
    adjustIndicatorPosition(clickedEl) {
      this.indicatorPosition.x =
        clickedEl.offsetLeft -
        clickedEl.parentElement.offsetLeft +
        clickedEl.offsetWidth / 2
    }
  }
}
</script>
<style lang="scss">
.step__navigation {
  display: flex;
  justify-content: space-between;
  margin: 2em 0 2em 1.5em;
  @media #{$md} {
    margin: 0 auto;
    max-width: 89%;
  }
}
</style>
