<template>
  <button class="step-button" :class="{ active }">
    <div class="step-button__head">
      <p class="step-button__index">{{ index }}</p>
      <div class="step-button__icon"><slot name="ico" /></div>
    </div>
    <p class="step-button__title">
      <b><slot name="title"/></b>
    </p>
  </button>
</template>

<script>
export default {
  props: {
    index: {
      type: Number,
      default: 1
    },
    active: {
      type: Boolean,
      default: false
    },
    flowRight: {
      type: Boolean,
      default: true
    }
  }
}
</script>

<style lang="scss">
.step-button {
  position: relative;
  background-color: transparent;
  border: none;
  padding: 0;
  user-select: none;
  .step-button__head {
    position: relative;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    .step-button__index {
      font-size: 4em;
      line-height: 0.88em;
      height: 0.75em;
      transform: translateX(-60%);
      margin: 0;
      transition: all 0.4s ease;
      @media #{$md} {
        font-size: 8em;
      }
    }
    .step-button__icon {
      position: absolute;
      transform: translate(-35%, -45%);
      top: 50%;
      left: 50%;
      svg {
        width: 2.6em;
        height: auto;
        fill: #e5e1de;
        transition: all 0.4s ease;
      }
      @media #{$md} {
        svg {
          width: 5em;
        }
      }
    }
  }
  .step-button__title {
    display: none;
    margin-top: 2em;
    @media #{$md} {
      display: block;
    }
  }

  &:not(.active) {
    .step-button__head {
      .step-button__index {
        color: #e5e1de;
      }
      svg {
        fill: #f26522;
        transform: scale(0);
        @media #{$md} {
          transform: none;
        }
      }
    }
  }
}
</style>
