<template>
  <div class="benefits__item">
    <div class="benefits__head">
      <slot name="ico" :isVisible="$store.state.isMobile || isVisible" />
    </div>
    <div class="benefits__title">
      <slot name="title" />
    </div>
    <div class="benefits__description">
      <slot name="description" />
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      isVisible: false
    }
  },
  created() {
    this.timeout = false
  },
  mounted() {
    document.addEventListener('aos:in', ({ detail: node }) => {
      if (node === this.$el) {
        clearTimeout(this.timeout)
        const timeout = setTimeout(() => {
          this.$nextTick(() => {
            this.timeout = timeout
          })
          this.isVisible = true
        }, node.dataset.aosDelay)
      }
    })
    document.addEventListener('aos:out', ({ detail: node }) => {
      if (node === this.$el && this.isVisible) {
        this.isVisible = false
      }
    })
    this.$forceUpdate()
  }
}
</script>

<style lang="scss">
.benefits__item {
  cursor: default;
  user-select: none;
  .benefits__title {
    margin: 0.8em 0;
  }
  svg {
    display: inline-block;
    width: 5.5em;
    margin: 2em 0;
  }
}
</style>
