<template>
  <section id="section3" class="section section__benefits">
    <div class="container">
      <h2 data-aos="fade-in">
        Dlaczego warto płacić kartą?
      </h2>
      <div class="benefits__wrap">
        <BenefitItem data-aos="fade-in" data-aos-delay="50">
          <template v-slot:ico="{ isVisible }">
            <AnimatedWrap :pose="isVisible ? 'active' : ''">
              <ShieldIco :hover="isVisible" />
            </AnimatedWrap>
          </template>
          <template #title>
            <b>Bezpieczne zakupy</b>
          </template>
          <template #description>
            Minimalizacja ryzyka <br />
            utraty portfela
          </template>
        </BenefitItem>
        <BenefitItem data-aos="fade-in" data-aos-delay="250">
          <template v-slot:ico="{ isVisible }">
            <AnimatedWrap :pose="isVisible ? 'active' : ''">
              <WalletIco :hover="isVisible" />
            </AnimatedWrap>
          </template>
          <template #title>
            <b>Bezpieczne zakupy</b>
          </template>
          <template #description>
            Minimalizacja ryzyka <br />
            utraty portfela
          </template>
        </BenefitItem>
        <BenefitItem data-aos="fade-in" data-aos-delay="450">
          <template v-slot:ico="{ isVisible }">
            <AnimatedWrap :pose="isVisible ? 'active' : ''">
              <MagnifierIco :hover="isVisible" />
            </AnimatedWrap>
          </template>
          <template #title>
            <b>Bezpieczne zakupy</b>
          </template>
          <template #description>
            Minimalizacja ryzyka <br />
            utraty portfela
          </template>
        </BenefitItem>
      </div>
    </div>
  </section>
</template>
<script>
import posed from 'vue-pose'

import ShieldIco from '@/components/animated/shieldIco'
import WalletIco from '@/components/animated/walletIco'
import MagnifierIco from '@/components/animated/MagnifierIco'
import BenefitItem from './BenefitsItem'
export default {
  components: {
    ShieldIco,
    WalletIco,
    MagnifierIco,
    BenefitItem,
    AnimatedWrap: posed.div({
      active: {
        applyAtStart: {
          transformOrigin: '50% 100%'
        },
        scale: 1,
        opacity: 1,
        transition: {
          type: 'spring',
          from: 0,
          stiffness: 200,
          damping: 20
          // delay: 200
        }
      }
    })
  }
}
</script>

<style lang="scss">
.section__benefits {
  background-color: #000;
  text-align: center;
  .benefits__wrap {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: baseline;
    margin: 2em 0;
  }
}
</style>
