<template>
  <div id="section5" class="section section__faq">
    <div>
      <div class="container">
        <h2 data-aos="fade-in">
          Najczęściej zadawane pytania
        </h2>
        <div slot="content" class="faq__wrapper">
          <div data-aos="fade-in">
            <Faq>
              <h3 slot="question">
                <b>Ile transakcji muszę wykonać, żeby otrzymać nagrodę?</b>
              </h3>
              <div slot="answer">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
              </div>
            </Faq>
          </div>
          <div data-aos="fade-in" class="faqanchor">
            <Faq>
              <h3 slot="question">
                <b
                  >Za jaką kwotę muszę dokonać zakupów, <br />żeby otrzymać
                  nagrodę?</b
                >
              </h3>
              <p slot="answer">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </Faq>
          </div>
          <div data-aos="fade-in" data-aos-anchor=".faqanchor">
            <Faq>
              <h3 slot="question"><b>Kiedy otrzymam nagrodę?</b></h3>
              <div slot="answer">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
              </div>
            </Faq>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Faq from '~/components/Faq'

export default {
  components: {
    Faq
  }
}
</script>

<style lang="scss">
.section__faq {
  background: #e5e1de;
  color: #000;
  text-align: center;

  .faq__wrapper {
    text-align: left;
    margin: 2em 0;
    padding: 0 1.5em;
    & > :last-of-type .faq {
      border-bottom: none;
    }
  }
}
</style>
