<template>
  <div class="section section__footer">
    <div class="container">
      <div class="navigation__logo-list">
        <a class="navigation__logo mastercard-svg">
          <MasterCardLogo class="logo" />
        </a>
        <a class="navigation__logo ">
          <GetInLogo class="logo" />
        </a>
      </div>
      <a href="/regulamin.pdf" target="_blank">Regulamin</a>
    </div>
  </div>
</template>
<script>
import GetInLogo from '~/assets/images/logo_getinbank.svg'
import MasterCardLogo from '~/assets/images/logo_mastercard-white.svg'
export default {
  components: {
    GetInLogo,
    MasterCardLogo
  }
}
</script>
<style lang="scss">
.section__footer {
  background-color: #16171a;
  padding: 1em 0;
  a {
    color: white;
  }
  .container {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    justify-content: space-between;
    .navigation__logo-list {
      font-size: 0.9em;
    }
  }
  .navigation__logo:first-child::after {
    display: none;
  }
}
</style>
