<template>
  <div id="section1" class="section section__hero">
    <div class="container">
      <div class="wrapper">
        <h1>
          Wygrywaj płacąc<br />
          kartą Mastercard!
        </h1>
        <div class="inner">
          <img
            src="~assets/images/img_debit-card.png"
            srcset="
              ~assets/images/img_debit-card@2x.png 2x,
              ~assets/images/img_debit-card@3x.png 3x
            "
            alt="debit card"
          />
          <div>
            <p>
              <b>Dokonaj 1 transakcji</b> i zdobądź<br />
              voucher do sklepów <b>Empik</b>, który<br />
              odbierzesz w programie Priceless Specials!
            </p>
            <img
              src="~assets/images/logo_empik.png"
              srcset="
                ~assets/images/logo_empik@2x.png 2x,
                ~assets/images/logo_empik@3x.png 3x
              "
              alt="decathlon logo"
            />
          </div>
        </div>
      </div>
    </div>
    <ScrollDownButton />
  </div>
</template>
<script>
import ScrollDownButton from '../ScrollDownButton'
export default {
  components: {
    ScrollDownButton
  }
}
</script>

<style lang="scss">
.section__hero {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;
  background-color: white;
  color: black;
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 100vh;
  max-height: 750px;
  background-image: url('~assets/images/bg_hero-mobile.jpg');
  @media #{$x2} {
    background-image: url('~assets/images/bg_hero-mobile@2x.jpg');
  }
  @media #{$x3} {
    background-image: url('~assets/images/bg_hero-mobile@3x.jpg');
  }

  @media #{$md} {
    background-position: center;
    flex-flow: row;
    align-items: flex-end;
    background-image: url('~assets/images/bg_hero-desktop.jpg');
  }
  @media #{$lg} {
    background-position: right top;
  }
  .container {
    max-width: 1350px;
    width: 100%;
    margin: 0;
    @media #{$md} {
      flex-grow: 1;
    }
  }
  .wrapper {
    max-width: 670px;
    text-align: center;
    & > * {
      margin-bottom: 2em;
    }
    @media #{$md} {
      margin-top: 6em;

      text-align: left;
      & > * {
        margin-bottom: 5em;
      }
    }

    .inner {
      @media #{$md} {
        display: flex;
        flex-flow: row;
        & > img {
          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
          border-radius: 0.7em;
        }
        div {
          margin-left: 1.5em;
          padding: 0.2em 0;
          display: flex;
          flex-flow: column;
          align-items: flex-start;
          justify-content: space-between;
          p {
            margin: 0;
          }
        }
      }
    }
  }
  @media #{$xxl} {
    max-height: 950px;
  }
}
</style>
