<template>
  <div id="section2" class="section section__lead">
    <div class="container">
      <h2 data-aos="fade-in">Jak wziąć udział w akcji?</h2>
      <Stepper />
    </div>
  </div>
</template>
<script>
import Stepper from '~/components/Stepper'
export default {
  components: { Stepper }
}
</script>
<style lang="scss">
.section__lead {
  background-color: white;
  color: $black;
  text-align: center;
  min-height: 600px;

  .content-wrap {
    position: relative;
    .bg-anim {
      display: none;
      position: absolute;
      width: 20em;
      right: 105%;
      top: 30%;
      @media #{$xl} {
        display: block;
      }
      @media #{$xxl} {
        width: 410px;
        right: 115%;
        top: 30%;
      }
    }
  }
}
</style>
