<template>
  <div class="magnifier-ico" style="position: relative">
    <svg viewBox="0 0 478.38 476.51">
      <path
        d="m 355.60098,330.60223 a 6.8841557,6.8841557 0 0 1 -4.86808,-2.01608 l -46.35004,-46.35987 a 6.8845069,6.8845069 0 1 1 9.73616,-9.73616 l 46.35988,46.35987 a 6.8841557,6.8841557 0 0 1 -4.91726,11.80141 z"
        style="fill: #f26522;stroke: none;"
      />
      <path
        d="m 321.47524,364.21658 a 6.8841557,6.8841557 0 0 1 -4.86809,-1.9669 l -46.38937,-46.39921 a 6.8845083,6.8845083 0 0 1 9.73616,-9.73617 l 46.38938,46.38938 a 6.8841557,6.8841557 0 0 1 -4.86808,11.75224 z"
        style="fill: #f26522;stroke: none;"
      />
      <Outer
        d="M 178.11761,349.45498 A 170.196,170.196 0 0 1 56.966301,299.29899 c -66.7959789,-66.79598 -66.7959789,-175.48696 0,-242.292778 A 171.32697,171.32697 0 1 1 178.11761,349.48448 Z"
        :pose="hover ? 'drawed' : 'hidden'"
      />
      <path
        d="m 107.45667,215.72534 a 6.8841557,6.8841557 0 0 1 -6.31376,-4.14033 83.455636,83.455636 0 0 1 17.64311,-92.78858 6.8841557,6.8841557 0 1 1 9.73617,9.72633 69.825008,69.825008 0 0 0 -14.75177,77.5746 6.8841557,6.8841557 0 0 1 -3.56992,9.05758 6.7956451,6.7956451 0 0 1 -2.74383,0.5704 z"
      />
      <ReverseLine
        d="m 411.81503,469.51466 a 34.420779,34.420779 0 0 1 -24.5076,-10.14922 L 321.94729,394.0053 a 34.656807,34.656807 0 0 1 0.30487,-49.31022 l 21.32122,-20.79015 a 34.646972,34.646972 0 0 1 48.69065,0.30487 l 65.10444,65.10444 a 34.68631,34.68631 0 0 1 0,49.00536 l -21.05568,21.04584 a 34.420779,34.420779 0 0 1 -24.49776,10.14922 z"
        :pose="hover ? 'drawed' : 'hidden'"
      />
      <Inner
        d="m 178.11761,301.6101 a 123.48208,123.48208 0 1 1 87.3206,-36.16149 122.70516,122.70516 0 0 1 -87.3206,36.16149 z"
        :pose="hover ? 'drawed' : 'hidden'"
      />
    </svg>
  </div>
</template>
<script>
import { easing } from 'popmotion'
import posed from 'vue-pose'

const animatedFactory = (drawedConf, element = 'path') =>
  posed[element]({
    hidden: {
      pathLength: 0
    },
    drawed: drawedConf
  })
export default {
  components: {
    Outer: animatedFactory({
      pathLength: 1,
      transition: {
        type: 'tween',
        duration: 500,
        from: 0,
        ease: easing.easeInOut
      }
    }),
    Inner: animatedFactory({
      pathLength: 1,
      transition: {
        type: 'tween',
        duration: 500,
        from: 0,
        ease: easing.easeInOut
      }
    }),
    ReverseLine: animatedFactory({
      pathLength: 1,
      pathOffset: 0,
      delay: 200,
      transition: {
        pathOffset: {
          type: 'tween',
          duration: 200,
          from: 1,
          ease: easing.easeInOut
        },
        default: {
          type: 'tween',
          duration: 200,
          from: 0,
          ease: easing.easeInOut
        }
      }
    })
  },
  props: {
    hover: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    drawSvg() {
      this.drawed = !this.drawed
    }
  }
}
</script>
<style lang="scss">
.magnifier-ico {
  position: relative;
  display: inline-block;
  width: 5.5em;
  svg {
    margin: 1em 0 !important;
  }
  path {
    stroke: #f26522;
    fill: none;
    stroke-width: 15;
  }
}
</style>
