<template>
  <div class="shield-ico" style="position: relative">
    <svg viewBox="0 0 423.53 516.34">
      <OuterRight
        d="m 211.75998,511.1765 a 6.86,6.86 0 0 1 -3.92,-1.2348 L 89.39718,427.1121 A 176.7626,176.7626 0 0 1 15.56398,292.3033 L 4.2841796,100.3115 A 29.4,29.4 0 0 1 27.65718,70.029501 a 111.0928,111.0928 0 0 1 21.3346,-1.6464 c 1.6072,0 3.2438,0 4.9,0.049 a 178.1444,178.1444 0 0 0 106.6142,-32.6732 l 37.24,-26.1366003 a 24.5,24.5 0 0 1 28.1456,-0.049 l 38.3278,26.7442003 a 180.4474,180.4474 0 0 0 103.8114,32.34 c 1.323,0 2.646,0 3.92,-0.049 1.5092,0 2.9988,0 4.459,0 a 102.6746,102.6746 0 0 1 19.355,1.4994 29.4,29.4 0 0 1 23.471,30.262399 l -11.2798,192.0114 a 176.7822,176.7822 0 0 1 -73.7744,134.7206 l -118.5016,82.8394 a 6.86,6.86 0 0 1 -3.92,1.2348 z"
        :pose="hover ? 'drawed' : 'hidden'"
      />
      <OuterLeft
        d="m 211.75998,511.1765 a 6.86,6.86 0 0 1 -3.92,-1.2348 L 89.39718,427.1121 A 176.7626,176.7626 0 0 1 15.56398,292.3033 L 4.2841796,100.3115 A 29.4,29.4 0 0 1 27.65718,70.029501 a 111.0928,111.0928 0 0 1 21.3346,-1.6464 c 1.6072,0 3.2438,0 4.9,0.049 a 178.1444,178.1444 0 0 0 106.6142,-32.6732 l 37.24,-26.1366003 a 24.5,24.5 0 0 1 28.1456,-0.049 l 38.3278,26.7442003 a 180.4474,180.4474 0 0 0 103.8114,32.34 c 1.323,0 2.646,0 3.92,-0.049 1.5092,0 2.9988,0 4.459,0 a 102.6746,102.6746 0 0 1 19.355,1.4994 29.4,29.4 0 0 1 23.471,30.262399 l -11.2798,192.0114 a 176.7822,176.7822 0 0 1 -73.7744,134.7206 l -118.5016,82.8394 a 6.86,6.86 0 0 1 -3.92,1.2348 z"
        :pose="hover ? 'drawed' : 'hidden'"
      />
      <Cicle :pose="hover ? 'drawed' : 'hidden'">
        <path
          d="M 2000,2100.88 A 112.54,112.54 0 1 1 2112.54,1988.34 112.66,112.66 0 0 1 2000,2100.88 Z"
          transform="translate(-1788.24,-1741.83)"
        />
      </Cicle>
      <Check
        d="m 167.9199,249.96546 30.35686,29.80988 55.51749,-67.55084"
        :pose="hover ? 'drawed' : 'hidden'"
      />
    </svg>
  </div>
</template>
<script>
import { easing } from 'popmotion'
import posed from 'vue-pose'

const animatedFactory = (drawedConf, element = 'path') =>
  posed[element]({
    hidden: {
      pathLength: 0
    },
    drawed: drawedConf
  })
export default {
  components: {
    OuterLeft: animatedFactory({
      pathLength: 0.5,
      transition: {
        type: 'tween',
        duration: 500,
        from: 0,
        ease: easing.easeInOut
      }
    }),
    OuterRight: animatedFactory({
      pathLength: 0.5,
      pathOffset: -1,
      transition: {
        default: {
          type: 'tween',
          duration: 500,
          from: 0,
          ease: easing.easeInOut
        }
      }
    }),
    Cicle: posed.g({
      hidden: {
        opacity: 0
      },
      drawed: {
        opacity: 1,
        delay: 300,
        transition: {
          type: 'tween',
          duration: 300,
          from: 0
        }
      }
    }),
    Check: animatedFactory({
      pathLength: 1,
      delay: 300,
      transition: {
        type: 'tween',
        duration: 300,
        from: 0,
        ease: easing.easeOut
      }
    })
  },
  props: {
    hover: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    drawSvg() {
      this.drawed = !this.drawed
    }
  }
}
</script>
<style lang="scss">
.shield-ico {
  position: relative;
  display: inline-block;
  width: 5.5em;
  svg {
    margin: 1em 0 !important;
  }
  path {
    fill: none;
    stroke: #f26522;
    stroke-width: 15;
  }
}
</style>
