<template>
  <div class="wallet-ico" style="position: relative">
    <svg viewBox="0 0 450.28 420.53">
      <OuterSmallLeft
        class="cls-1-portfel"
        d="M2292.69,1531.73h-89.27c-16.87,0-29.71,13-29.71,29.75"
        transform="translate(-2166.71 -1445.41)"
        :pose="hover ? 'drawed' : 'hidden'"
      />
      <OuterSmallRight
        class="cls-1-portfel"
        d="M373.87 145.82 373.87 86.32 284.63 86.32"
        :pose="hover ? 'drawed' : 'hidden'"
      />
      <MoneyOuter
        class="cls-1-portfel"
        d="M344.12 145.82 205.31 7 66.49 145.82"
        :pose="hover ? 'drawed' : 'hidden'"
      />
      <MoneyInner
        class="cls-1-portfel"
        d="M2441.42,1591.22l-48.29-48.55q-21,21-42.07,0l-48.52,48.53"
        transform="translate(-2166.71 -1445.41)"
        :pose="hover ? 'drawed' : 'hidden'"
      />
      <Outer
        class="cls-1-portfel"
        d="M2590.15,1779.62v79.32h-386.7a29.24,29.24,0,0,1-29.74-29.75V1561.48a29.23,29.23,0,0,0,29.74,29.74h386.7v69.41"
        transform="translate(-2166.71 -1445.41)"
        :pose="hover ? 'drawed' : 'hidden'"
      />
      <Lock
        class="cls-1-portfel"
        d="M2471.17,1680.46c-30.12,0-49.58,22.2-49.58,49.58s19.46,49.58,49.58,49.58h109.07a29.74,29.74,0,0,0,29.74-29.75v-79.32a9.92,9.92,0,0,0-9.91-9.92h-9.92c0,10.54-10.84,19.83-19.83,19.83h-99.15"
        transform="translate(-2166.71 -1445.41)"
        :pose="hover ? 'drawed' : 'hidden'"
      />
      <AnimatedLine
        d="M294.55 284.63h19.83"
        :pose="hover ? 'drawed' : 'hidden'"
      />
    </svg>
  </div>
</template>
<script>
import { tween, easing } from 'popmotion'
import posed from 'vue-pose'

const animatedFactory = (drawedConf, element = 'path') =>
  posed[element]({
    hidden: {
      pathLength: 0
    },
    drawed: drawedConf
  })

export default {
  components: {
    Outer: animatedFactory({
      pathLength: 1,
      transition: ({ to }) =>
        tween({
          duration: 500,
          from: 0,
          to: to,
          ease: easing.easeInOut
        })
    }),
    OuterSmallLeft: animatedFactory({
      pathLength: 1,
      pathOffset: 0,
      delay: 200,
      transition: {
        pathOffset: {
          type: 'tween',
          duration: 200,
          from: 1,
          ease: easing.easeInOut
        },
        default: {
          type: 'tween',
          duration: 200,
          from: 0,
          ease: easing.easeInOut
        }
      }
    }),
    OuterSmallRight: animatedFactory({
      pathLength: 1,
      pathOffset: 0,
      delay: 250,
      transition: {
        pathOffset: {
          type: 'tween',
          duration: 200,
          from: 1,
          ease: easing.easeInOut
        },
        default: {
          type: 'tween',
          duration: 200,
          from: 0,
          ease: easing.easeInOut
        }
      }
    }),
    MoneyInner: animatedFactory({
      pathLength: 1,
      delay: 150,
      transition: ({ to }) =>
        tween({
          duration: 500,
          from: 0,
          to: to,
          ease: easing.easeInOut
        })
    }),
    MoneyOuter: animatedFactory({
      pathLength: 1,
      delay: 150,
      transition: ({ to }) =>
        tween({
          duration: 500,
          from: 0,
          to: to,
          ease: easing.easeInOut
        })
    }),
    Lock: animatedFactory({
      pathLength: 1,
      delay: 300,
      transition: ({ to }) =>
        tween({
          duration: 300,
          from: 0,
          to: to,
          ease: easing.easeInOut
        })
    }),
    AnimatedLine: animatedFactory({
      pathLength: 1,
      delay: 200,
      transition: ({ to }) =>
        tween({
          duration: 100,
          from: 0,
          to: to,
          ease: easing.easeInOut
        })
    })
  },
  props: {
    hover: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    drawSvg() {
      this.drawed = !this.drawed
    }
  }
}
</script>
<style lang="scss">
.wallet-ico {
  position: relative;
  display: inline-block;
  width: 5.5em;
  svg {
    margin: 1em 0 !important;
  }
  path,
  polyline {
    fill: none;
    stroke: #f26522;
    stroke-width: 15;
  }
}
</style>
