<template>
  <ArrowSmall v-if="small" />
  <Arrow v-else />
</template>
<style lang="scss" scoped>
svg {
  width: 1em;
  height: 1em;
  display: inline-block;
  margin-left: 0.5em;
  vertical-align: -0.2em;
}
</style>

<script>
import Arrow from '~/assets/images/arrow_r.svg'
import ArrowSmall from '~/assets/images/arrow_r_small.svg'
export default {
  components: {
    Arrow,
    ArrowSmall
  },
  props: {
    small: {
      type: Boolean,
      default: false
    }
  }
}
</script>
