<template>
  <button :class="classes" v-bind="{ type }">
    <slot />
    <ArrowR class="arrow" />
  </button>
</template>

<script>
import ArrowR from '@/assets/images/arrow_r.svg'
export default {
  components: {
    ArrowR
  },
  props: {
    variant: {
      type: String,
      default: ''
    },
    active: {
      type: Boolean,
      default: false
    },
    type: {
      type: String,
      default: null
    }
  },
  computed: {
    classes() {
      return {
        secondary: this.variant === 'secondary',
        active: this.active
      }
    }
  }
}
</script>

<style lang="scss" scoped>
button {
  position: relative;
  margin: 2em auto 0 auto;
  display: block;
  width: 450px;
  max-width: 100%;
  border: none;
  color: white;
  padding: 1.2em;
  font-weight: 200;
  cursor: pointer;
  transition: all 0.2s ease;
  background-color: $secondary;
  border: 1px solid transparent;
  border-radius: 5px;
  z-index: 1;

  &:after {
    position: absolute;
    background-color: $primary;
    border: 1px solid transparent;
    left: 0;
    top: 0;
  }

  &.secondary {
    background-color: white;
    color: black;
    border-color: black;
    font-weight: bold;
  }
  .arrow {
    vertical-align: middle;
    margin-left: 0.5em;
    width: 1em;
    height: 1em;
  }
  &:hover,
  &.active {
    background-color: $primary;
  }
}
</style>
