<template>
  <label v-if="type === 'checkbox'" class="custom-checkbox">
    <slot />
    <input
      v-bind="{ name, type }"
      class="custom-checkbox__body"
      :checked="value"
      @change="$emit('input', $event.target.checked)"
      @focus="isFocus = true"
      @blur="isFocus = false"
    />
    <span
      v-tooltip="tooltipConf"
      class="custom-checkbox__checkmark"
      :class="{ error: flags && !flags.valid && flags.validated }"
    />
  </label>
  <div
    v-else
    v-tooltip="tooltipConf"
    class="custom-input"
    :class="{
      error: flags && !flags.valid && flags.validated,
      valid: flags && flags.valid,
      labeled: isFocus || value
    }"
  >
    <span class="custom-input__label">{{ placeholder }}</span>
    <input
      v-bind="{ value, name, type }"
      @input="$emit('input', $event.target.value)"
      @focus="isFocus = true"
      @blur="isFocus = false"
    />

    <CheckMark class="validation-indicator check-mark" />
    <Cross class="validation-indicator cross" />
  </div>
</template>

<script>
import pixelWidth from 'string-pixel-width'
import Cross from '~/assets/images/cross.svg'
import CheckMark from '~/assets/images/check-mark.svg'

export default {
  components: {
    Cross,
    CheckMark
  },
  props: {
    value: {
      type: [String, Boolean],
      default: ''
    },
    name: {
      type: String,
      default: 'text',
      required: true
    },
    placeholder: {
      type: String,
      default: ''
    },
    type: {
      type: String,
      default: 'text'
    },
    flags: {
      type: Object,
      default: () => {}
    },
    error: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      isFocus: false
    }
  },
  computed: {
    tooltipConf() {
      return {
        content: this.error,
        show: this.error !== '' && this.isFocus,
        trigger: 'manual',
        placement: 'left',
        offset: 20,
        hideOnTargetClick: false,
        autoHide: false,
        ...(this.$store.state.isMobile
          ? { placement: 'bottom', offset: '-10' }
          : null)
      }
    }
  },
  watch: {
    value: {
      handler: function(value) {
        this.validationMarkOffset = pixelWidth(value, {
          font: 'open sans',
          size: 18
        })
      },
      immediate: true
    }
  }
}
</script>
<style lang="scss">
.custom-input:not(.checkbox) {
  position: relative;
  display: inline-block;
  width: 100%;
  border: 3px solid #c9c5c0;
  border-radius: 5px;
  font-size: 1em;
  color: black;
  margin-bottom: 1em;
  transition: border 0.3s ease;
  input {
    position: relative;
    background: transparent;
    border: none;
    display: block;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 1.5em 0.6em 0.6em 0.6em;
    padding-right: 3em;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
  }
  //  @media #{$md} {
  //   input {
  //     padding-right: 0.6em;
  //   }
  // }
  .custom-input__label {
    color: #8d8b89;
    position: absolute;
    left: 0.6em;
    top: 50%;
    transform: translateY(-50%);
    transform-origin: 0 120%;
    transition: transform 0.3s ease;
  }
  &.labeled .custom-input__label {
    transform: translateY(-150%) scale(0.667);
  }
  .validation-indicator {
    display: none;
    position: absolute;
    top: 50%;
    right: 0.6em;
    transform: translateY(-50%) scale(0.7);
    animation: fadeIn 0.3s ease;
    @media #{$md} {
      transform: translateY(-50%) scale(1);
    }
  }
  &.error {
    border: 3px solid $secondary;
    .cross {
      display: block;
    }
  }
  &.valid {
    border: 3px solid #89b43d;
    .check-mark {
      display: block;
    }
  }
}
.validation-mark {
  position: absolute;
  left: auto;
  right: 1em;
  transform: translateY(-50%);
  width: 1em;
  height: 1em;
  top: 50%;
  svg {
    width: 100%;
    height: 100%;
  }
  @media #{$md} {
    transform: translate(1.5em, -50%);
  }
}
.custom-checkbox {
  display: inline-block;
  position: relative;
  padding-left: 1.6em;
  margin-bottom: 1em;
  text-align: left;
  cursor: pointer;
  user-select: none;
  line-height: 1.3em;

  .custom-checkbox__body {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .custom-checkbox__checkmark {
    position: absolute;
    top: 0.2em;
    left: 0;
    height: 1.2em;
    width: 1.2em;
    background-color: white;
    border: 3px solid #c9c5c0;
    border-radius: 5px;
    box-sizing: border-box;
    &.error {
      border: 3px solid $secondary;
    }
  }

  .custom-checkbox__checkmark:after {
    left: 35%;
    top: 20%;
    width: 20%;
    height: 40%;
    border: solid #fff;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
  }

  .custom-checkbox__checkmark:after {
    content: '';
    position: absolute;
    display: none;
  }

  .custom-checkbox__body:checked ~ .custom-checkbox__checkmark {
    background-color: $secondary;
    border: $secondary;

    &:after {
      display: block;
    }
  }
}
</style>
