<template>
  <div ref="expandableBody" style="overflow:hidden;">
    <slot />
  </div>
</template>
<script>
import anime from 'animejs'
export default {
  props: {
    expanded: {
      default: false,
      type: Boolean
    }
  },
  watch: {
    expanded: {
      handler: function(val) {
        if (process.browser) {
          this.$nextTick(() => {
            val ? this.expand() : this.collapse()
          })
        }
      },
      immediate: true
    }
  },
  methods: {
    expand() {
      const that = this
      anime({
        targets: that.$refs.expandableBody,
        height: el => el.scrollHeight,
        opacity: 1,
        duration: 400,
        easing: 'easeOutQuart',
        complete() {
          that.$refs.expandableBody.style.height = null
        }
      })
    },
    collapse() {
      anime({
        targets: this.$refs.expandableBody,
        height: 0,
        opacity: {
          value: 0
        },
        duration: 400,
        easing: 'easeOutQuart'
      })
    }
  }
}
</script>
