<template>
  <transition name="fade" mode="out-in" @afterEnter="onAfterEnter">
    <slot />
  </transition>
</template>

<script>
import AOS from 'aos'
export default {
  methods: {
    onAfterEnter(el) {
      AOS.refresh()
    }
  }
}
</script>
