<template>
  <div class="faq" :class="{ collapsed: !isOpen }">
    <div class="faq__header" @click="onClick">
      <slot class="faq__question" name="question"></slot>
      <div class="faq__collapse"></div>
    </div>
    <Expandable :expanded="isOpen" class="faq__body">
      <slot class="faq__answer" name="answer"></slot>
    </Expandable>
  </div>
</template>

<script>
import Expandable from '~/components/Expandable'
import EventBus from '~/components/../utils/event-bus'

export default {
  components: {
    Expandable
  },
  data() {
    return {
      isOpen: false
    }
  },
  mounted() {
    EventBus.$on('faqExpand', this.onFaqExpand)
  },
  methods: {
    onClick() {
      this.isOpen = !this.isOpen
      EventBus.$emit('faqExpand', this)
    },
    onFaqExpand(comp) {
      if (this !== comp && this.isOpen) {
        this.isOpen = false
      }
    }
  }
}
</script>

<style lang="scss">
.faq {
  border-bottom: dashed $primary 2px;

  .faq__header {
    display: flex;
    color: $primary;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin: 1em 0;
    font-weight: 600;
  }

  .faq__collapse {
    position: relative;
    width: 0.8em;
    height: 0.8em;
    margin-left: 0.2em;
    font-size: 2em;
    color: black;
    flex-shrink: 0;

    &:before,
    &:after {
      @include pseudo;
      top: 42%;
      width: 100%;
      height: 11%;
      background-color: black;
      border-radius: 10px;
      transform-origin: 50% 50%;
      transition: transform 0.2s ease;
    }

    &:after {
      transform: none;
    }
  }

  .faq__body {
    margin-bottom: 2em;
    overflow: hidden;
    line-height: 1.5;

    @media #{$lg} {
      max-width: 80%;
    }
  }
}

.faq.collapsed {
  .faq__body {
    margin-bottom: 0;
    // max-height: 0 !important;
  }
  .faq__collapse::after {
    transform: rotateZ(90deg);
  }
}
</style>
