<template>
  <div class="loader">
    <transition name="fade" mode="out-in" :duration="{ enter: 200, leave: 0 }">
      <div v-if="success === true" key="success" class="success" />
      <div v-if="success === false" key="failure" class="failure" />
      <div v-else-if="success === null" key="progress" class="progress" />
    </transition>
  </div>
</template>

<script>
export default {
  props: {
    success: {
      type: Boolean,
      default: null
    }
  }
}
</script>

<style lang="scss" scoped>
.loader {
  position: relative;
  font-size: 10px;
  z-index: 15;
  width: 12em;
  height: 12em;
}

.progress,
.progress:after,
.success,
.failure {
  box-sizing: border-box;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.progress {
  position: relative;
  text-indent: -9999em;
  border-left: 1.1em solid #efefef;
  border-right: 1.1em solid #efefef;
  border-bottom: 1.1em solid #efefef;
  border-top: 1.1em solid $primary;
  animation: load8 1.1s infinite cubic-bezier(0.57, 0.21, 0.25, 0.54);
}

.success {
  background-color: #13eb86;
  border: 1.1em solid #efefef;
  &:after {
    @include pseudo;
    left: 50%;
    top: 50%;
    width: 1.5em;
    height: 4.2em;
    border: solid #fff;
    border-width: 0 1.1em 1.1em 0;
    transform-origin: 20% 0%;
    transform: rotate(45deg) translate(-50%, -50%);
  }
}

.failure {
  background-color: white;
  border: 1.1em solid #efefef;
  &:after,
  &:before {
    @include pseudo;
    display: block;
    width: 50%;
    height: 0;
    border: solid 0.55em #eb001b;
    transform-origin: 50% 0%;
    left: 26%;
    top: 50%;
    box-sizing: border-box;
  }

  &:after {
    transform: rotate(45deg) translateY(-50%);
  }
  &:before {
    transform: rotate(-45deg) translateY(-50%);
  }
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>
