<template>
  <div ref="scratchWrap" class="scratch-wrap">
    <ScratchCard
      v-for="index in cardCount"
      :key="renderCount + index"
      :finish-percent="90"
      :image-url="require('assets/images/scratch-cover.jpg')"
      :brush-url="require('assets/images/scratch-brush.png')"
      class="scratch-wrap__card"
      @mousedown.native.once="forceHideTip = true"
      @touchstart.native.once="forceHideTip = true"
    >
      <Hand
        v-if="tip && index === 1 && !forceHideTip"
        class="scratch-wrap__tip"
      />
      <img :src="require('assets/images/scratch-img.png')" draggable="false" />
    </ScratchCard>
  </div>
</template>

<script>
import imagesLoaded from 'imagesloaded'
import ScratchCard from 'vue-scratchcard'
import Hand from '~/components/animated/Hand'

export default {
  components: {
    ScratchCard,
    Hand
  },
  props: {
    cardCount: {
      type: Number,
      default: 1
    },
    tip: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      renderCount: 1,
      forceHideTip: false
    }
  },
  mounted() {
    imagesLoaded(this.$refs.scratchWrap).on('done', instance => {
      this.renderCount *= this.cardCount + 1
    })
  }
}
</script>
<style lang="scss">
.scratch-wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  .scratch-wrap__card {
    position: relative;
    margin: 1em;
    img {
      display: block;
      border: 2px dashed #b4b4b4;
    }
    * {
      user-select: none;
    }
    .scratch-wrap__tip {
      position: absolute;
      left: 15%;
      top: 5%;
      z-index: 100;
    }
  }
}
</style>
