<template>
  <div v-scroll-to="'#section2'" class="button-wrap">
    <Button class="scrolldown-button">
      <ArrowRight />
    </Button>
  </div>
</template>

<script>
import ArrowRight from '~/components/ArrowRight.vue'
export default {
  components: {
    ArrowRight
  }
}
</script>

<style lang="scss">
.button-wrap {
  bottom: 1em;

  text-align: center;

  margin: 0 auto;
  z-index: 15;
  & > * {
    cursor: pointer;
  }
  p {
    display: none;
    margin: 0;
  }

  &.is-rolled {
    right: 1em;
    transform: rotateZ(-180deg);

    .scrolldown-button {
      animation: none;
    }
  }
}

.scrolldown-button {
  width: 3em;
  height: 3em;
  border-radius: 2em;
  border: none;
  background-color: transparent;
  box-shadow: none;
  animation: scrollDown ease 2s infinite;

  svg {
    stroke: black;

    stroke-width: 3px;
    height: 1.5em;
    width: 2em;
    margin: 0;
    transform: rotateZ(90deg);
    path {
      fill: black;
    }
  }
}

@media #{$md} {
  .button-wrap {
    position: absolute;
    transform: translateX(50%);
    right: 50%;
    &.is-rolled {
      visibility: hidden;
      opacity: 0;
      right: 50%;
      transform: translateX(50%);
    }
    p {
      display: block;
    }
    .scrolldown-button {
      background-color: transparent;
      box-shadow: none;

      svg {
        stroke-width: 1px;
      }
    }
  }
}
</style>
