<template>
  <div class="scroll-to-arrow" />
</template>
<style lang="scss">
.scroll-to-arrow {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  background-color: #f79e1b;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  cursor: pointer;
  &:after {
    @include pseudo;
    left: 50%;
    top: 54%;
    width: 0;
    height: 0;
    border-left: 0.4em solid transparent;
    border-right: 0.4em solid transparent;
    border-top: 0.45em solid #fff;
    transform: translate(-50%, -50%);
  }
}
</style>
