<template>
  <div class="burger" :class="{ 'is-open': isActive }">
    <span></span>
    <span></span>
    <span></span>
  </div>
</template>

<script>
export default {
  props: {
    isActive: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style lang="scss" scoped>
.burger {
  position: relative;
  width: 2.5em;
  height: 1.8em;
  margin-right: 2%;
  //font-size: 0.75em;
  font-size: 13px;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;

  cursor: pointer;
  span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: white;
    opacity: 1;
    left: 0;

    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
    &:nth-child(1) {
      top: 0;
    }
    &:nth-child(2) {
      top: 45%;
    }
    &:nth-child(3) {
      top: 90%;
    }
  }
  @media #{$xl} {
    display: none;
  }
}

.is-open.burger {
  span {
    &:nth-child(1) {
      top: 50%;
      transform: rotate(135deg);
    }
    &:nth-child(2) {
      opacity: 0;
      left: -100%;
    }
    &:nth-child(3) {
      top: 50%;
      transform: rotate(-135deg);
    }
  }
}
</style>
