<template>
  <nav
    :class="{ 'is-open': drawerOpen, hidden: hideNav, darker }"
    class="navigation"
  >
    <div class="navigation__bar container">
      <div class="navigation__logo-list">
        <a class="navigation__logo">
          <MasterCardLogo class="logo" />
        </a>
        <a class="navigation__logo">
          <GetInLogo class="logo" />
        </a>
      </div>
      <Burger
        :is-active="drawerOpen"
        @click.native="drawerOpen = !drawerOpen"
      />
      <NavigationLinks class="navigation__links" />
    </div>
    <NavigationLinks
      class="navigation__drawer"
      @click.native="drawerOpen = false"
    />
  </nav>
</template>

<script>
import NavigationLinks from './NavigationLinks.vue'
import Burger from './Burger.vue'
import GetInLogo from '~/assets/images/logo_getinbank.svg'
import MasterCardLogo from '~/assets/images/logo_mastercard-white.svg'
export default {
  components: {
    NavigationLinks,
    Burger,
    GetInLogo,
    MasterCardLogo
  },
  data: function() {
    return {
      drawerOpen: false,
      hideNav: false,
      darker: false
    }
  },
  mounted() {
    this.prevScrollpos = window.pageYOffset
    window.addEventListener('scroll', this.shouldHide)
    this.checkIfDarker()
  },
  methods: {
    checkIfDarker() {
      this.darker =
        window.pageYOffset + 100 >=
        document.querySelector('#section2').offsetTop
    },
    shouldHide() {
      const currentScrollPos = window.pageYOffset

      this.checkIfDarker()

      if (this.prevScrollpos > currentScrollPos || currentScrollPos < 100) {
        this.hideNav = false
      } else {
        this.hideNav = true
        this.drawerOpen = false
      }
      this.prevScrollpos = currentScrollPos
    }
  }
}
</script>

<style lang="scss">
.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 1em;
  z-index: 200;
  transition: all 0.2s ease;
  &.darker {
    background-color: rgba(0, 0, 0, 0.85);
  }

  @media #{$xl} {
    font-size: 1em;
  }

  &:not(.hidden) {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }

  &.hidden {
    top: -70px;

    @media #{$xl} {
      top: -100px;
    }
  }
}

.navigation__bar {
  position: relative;
  height: $navheight;
  margin: 0 auto;
  z-index: 1;

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  &.container {
    max-width: 1350px;
  }
  @media #{$xl} {
    height: 100px;
  }
}

.navigation__links {
  flex-grow: 1;
  justify-content: center;
  height: 100%;
  align-items: stretch;
  display: none;
  overflow: hidden;
  & > :first-child {
    margin-left: 4em;
  }
  @media #{$xl} {
    display: flex;
    width: 65%;
  }
}

.navigation__drawer {
  position: absolute;
  width: 300px;
  height: calc(100vh - 65px);
  max-width: 70%;
  right: 0;
  background-color: rgba(0, 0, 0, 0.85);
  transform: translateX(100%);
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);

  @media #{$xl} {
    display: none;
  }
}

// .navigation.is-open .navigation__bar {
//   border-bottom: 1px solid #dbd6cf;
//   box-sizing: content-box;
// }

.navigation.is-open .navigation__drawer {
  transform: translateX(0%);
}
</style>
