<template>
  <div class="wrapper">
    <div v-scroll-to="{ el: '#section2', offset: scrollOfssets[1] }">
      <div :class="{ active: active === 1 }" class="navigation__item-link">
        <p class="navigation__text">Weź udział</p>
      </div>
    </div>
    <div @click="onSecondClicked">
      <div :class="{ active: active === 2 }" class="navigation__item-link">
        <p class="navigation__text">Zarejetruj się</p>
      </div>
    </div>
    <div v-scroll-to="{ el: '#section5', offset: scrollOfssets[3] }">
      <div :class="{ active: active === 3 }" class="navigation__item-link">
        <p class="navigation__text">FAQ</p>
      </div>
    </div>
    <div>
      <a class="navigation__item-link" href="/regulamin.pdf" target="_blank">
        <p class="navigation__text">
          Regulamin
          <!-- <img
            :src="require('~/assets/images/img_pdfdownload.png')"
            alt="pdf logo"
            class="navigation__ico"
          /> -->
        </p>
      </a>
    </div>
  </div>
</template>

<script>
import EventBus from '~/components/../utils/event-bus'

export default {
  data() {
    return {
      active: 0,
      navHeight: 70,
      scrollOfssets: [0, 0, 0]
    }
  },
  mounted() {
    let scrollSections = []
    this.$nextTick(() => {
      scrollSections = document.querySelectorAll('.section')

      let prevScrollpos = window.pageYOffset
      window.addEventListener('scroll', () => {
        let reached = 0
        const currentScrollPos = window.pageYOffset
        let measurePoint = 0

        if (prevScrollpos > currentScrollPos) {
          measurePoint = currentScrollPos + window.innerHeight / 2
        } else {
          measurePoint = currentScrollPos + 100
        }

        for (let i = 0; i < scrollSections.length; i++) {
          if (measurePoint > scrollSections[i].offsetTop) {
            this.scrollOfssets[i + 1] = this.navHeight * -1
            reached = i
          } else {
            this.scrollOfssets[i] = 0
          }
        }
        prevScrollpos = currentScrollPos
        this.active = reached
      })

      this.calcScrollOffset()
      window.addEventListener('resize', this.calcScrollOffset)
    })
  },
  methods: {
    calcScrollOffset() {
      this.navHeight = window.innerWidth < 1200 ? 70 : 100
    },
    onSecondClicked() {
      this.$scrollTo('#section2', { offset: this.scrollOfssets[2] })
      EventBus.$emit('changeStepperPosition', 1)
    }
  }
}
</script>

<style lang="scss" scoped>
.wrapper a {
  text-decoration: none;
  color: inherit;
}

.navigation__item-link {
  display: flex;
  position: relative;
  padding: 0 2em;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  font-weight: lighter;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

  @media #{$xl} {
    height: 100%;
  }
}

.navigation__drawer .navigation__item-link {
  padding: 1em 0;
}

.navigation__item-link {
  .navigation__ico {
    vertical-align: middle;
    margin-left: 0.5em;
  }

  &:before {
    @include pseudo;
    width: 0;
    height: 6px;
    left: 0;
    background-color: $primary;
    transition: width 0.3s ease;

    @media #{$xl} {
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &.active {
    font-weight: bold;

    &:before {
      width: 15%;

      @media #{$xl} {
        width: 80%;
      }
    }
  }

  &:hover {
    &:before {
      @media #{$xl} {
        width: 80%;
      }
    }
  }
}
</style>
