@font-face {
  font-family: 'Mark Offc For MC';
  src: url('~assets/fonts/MarkOffcForMC-Medium.eot');
  src: url('~assets/fonts/MarkOffcForMC-Medium.eot?#iefix')
      format('embedded-opentype'),
    url('~assets/fonts/MarkOffcForMC-Medium.woff2') format('woff2'),
    url('~assets/fonts/MarkOffcForMC-Medium.woff') format('woff'),
    url('~assets/fonts/MarkOffcForMC-Medium.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Mark Offc For MC';
  src: url('~assets/fonts/MarkOffcForMC.eot');
  src: url('~assets/fonts/MarkOffcForMC.eot?#iefix') format('embedded-opentype'),
    url('~assets/fonts/MarkOffcForMC.woff2') format('woff2'),
    url('~assets/fonts/MarkOffcForMC.woff') format('woff'),
    url('~assets/fonts/MarkOffcForMC.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Mark Offc For MC';
  src: url('~assets/fonts/MarkOffcForMC-Bold.eot');
  src: url('~assets/fonts/MarkOffcForMC-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('~assets/fonts/MarkOffcForMC-Bold.woff2') format('woff2'),
    url('~assets/fonts/MarkOffcForMC-Bold.woff') format('woff'),
    url('~assets/fonts/MarkOffcForMC-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Mark Offc For MC';
  src: url('~assets/fonts/MarkOffcForMC-Light.eot');
  src: url('~assets/fonts/MarkOffcForMC-Light.eot?#iefix')
      format('embedded-opentype'),
    url('~assets/fonts/MarkOffcForMC-Light.woff2') format('woff2'),
    url('~assets/fonts/MarkOffcForMC-Light.woff') format('woff'),
    url('~assets/fonts/MarkOffcForMC-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
