@import './fonts.scss';

html {
  font-family: 'Mark Offc For MC';
  font-size: 3.5vmin;
  color: #ffffff;
  background-color: white;

  @media #{$md} {
    font-size: 18px;
  }

  // @media #{$xxl} {
  //   font-size: 24px;
  // }
}

body {
  font-weight: lighter;

  a {
    text-decoration: none;
  }

  b {
    font-weight: 600;
  }

  h1 {
    font-size: 2.5em;
    font-weight: 200;
  }
  h2 {
    font-size: 1.917em;
    font-weight: 200;
  }
  h3 {
    font-size: 1.667em;
    font-weight: 200;
  }
  button:focus {
    outline: none;
  }
  img {
    max-width: 100%;
  }
}

//typo
.text-desc {
  font-size: 0.83em;
}

.text_primary {
  color: $primary;
}

.text_shadowed {
  text-shadow: 0px 2px rgba(0, 0, 0, 0.2);
}

.text_nobreak {
  white-space: nowrap;
}

.primary-anchor {
  text-decoration: underline;
  cursor: pointer;
  color: $primary;
  font-weight: 700;
}

.primary-list {
  color: $primary;
  font-weight: 700;
  text-align: left;

  span {
    color: #000;
    font-weight: 400;
  }
}

// Layout
.main {
  max-width: 100vw;
  overflow: hidden;
}

.section {
  position: relative;
  padding: 2em 0;
  box-sizing: border-box;
}

.container,
.content-wrap {
  box-sizing: border-box;
  padding: 0 1em;
  margin: 0 auto;
  @media #{$md} {
    padding: 0 1.5em;
  }
}
.container {
  max-width: 1150px;
}
.content-wrap {
  max-width: 700px;
  box-sizing: content-box;
}

.inline-img {
  height: 2.5em;
  width: auto;
  vertical-align: -0.4em;
  max-height: 50px;
  max-width: 10em;

  &:nth-child(odd) {
    margin-right: 0.5em;
  }

  &:nth-child(even) {
    margin-left: 0.5em;
  }
}

.only_desktop {
  display: none;

  @media #{$lg} {
    display: block;
  }
}
.only_desktop_svg {
  overflow: hidden;
  height: 0;
  @media #{$lg} {
    height: auto;
  }
}

.float-clear {
  clear: both;
}

.inline-svg {
  width: 1em;
  height: 1em;
  display: inline-block;
  margin-left: 0.5em;
  vertical-align: -0.2em;
}

.mobile_store {
  display: inline-block;
  margin-bottom: 1em;
  max-width: 7em;
}

//#toosmallforvuecomp
.input__info-ico {
  position: absolute;
  left: 100%;
  top: 50%;
  width: 1.5em;
  height: 1.5em;
  margin-left: 0.5em;
  line-height: 1.5em;
  font-size: 0.9rem;
  background-color: #7bc3ed;
  border-radius: 1em;
  font-family: monospace;
  color: white;
  text-align: center;
  cursor: pointer;
  transform: translateY(-50%);
}
.navigation__logo-list {
  max-width: 80%;
  position: relative;

  @media #{$xl} {
    max-width: 30%;
  }

  .logo {
    max-width: 100%;
    //   width: auto;
    height: 100%;
  }
}
.navigation__logo {
  width: 10em;
  height: 2em;
  max-width: 45%;
  display: inline-block;
  vertical-align: middle;

  &:first-child {
    position: relative;

    &::after {
      @include pseudo;
      height: 100%;
      width: 2px;
      left: 100%;
      top: 50%;
      transform: translateY(-50%);
      background-color: white;
    }
  }

  &:nth-child(even) {
    padding-left: 4.5%;
  }

  &:nth-child(odd) {
    padding-right: 2.5%;
  }
}

//sections

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fadeenter-enter-active {
  transition: opacity 0.3s;
}

.fadeenter-enter {
  opacity: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeLoop {
  0%,
  100% {
    opacity: 0;
  }
  30%,
  70% {
    opacity: 1;
  }
}

@keyframes scrollDown {
  from {
    transform: none;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    transform: translateY(0.8em);
    opacity: 0;
  }
}
.scrollDown {
  animation: scrollDown ease 2s infinite;
}

// // IE SVG width:auto FIX //

.hnm-svg {
  width: 3em;
}
.mastercard-svg {
  width: 7em;
}

// /*
//  * Let's target IE to respect aspect ratios and sizes for img tags containing SVG files
//  *
//  * [1] IE9
//  * [2] IE10+
//  */
// /* 1 */
// .ie9 img[src$=".svg"] {
//     width: 100%;
//   }
//   /* 2 */
//   @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
//     img[src$=".svg"] {
//       width: 100%;
//     }
//   }

//   .svg-wrap{
//       display: inline-block;
//   }

// v-tooltip

.tooltip {
  display: block !important;
  z-index: 10000;
  max-width: 85%;
  font-size: 0.85em;

  .tooltip-inner {
    background: #e51b24;
    color: white;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 4px 7px 15px -2px rgba(0, 0, 0, 0.19);
  }

  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;

    // margin: 1em;
    border-color: #e51b24;
    z-index: 1;
  }

  &[x-placement^='top'] {
    margin-bottom: 1em;

    .tooltip-arrow {
      border-width: 1em 1em 0 1em;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -1em;
      left: calc(50% - 1em);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^='bottom'] {
    margin-top: 1em;

    .tooltip-arrow {
      border-width: 0 1em 1em 1em;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -1em;
      left: calc(50% - 1em);
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &[x-placement^='right'] {
    margin-left: 0.5em;

    .tooltip-arrow {
      border-width: 0.5em 0.5em 0.5em 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -0.5em;
      top: calc(50% - 0.5em);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[x-placement^='left'] {
    margin-right: 0.5em;

    .tooltip-arrow {
      border-width: 0.5em 0 0.5em 0.7em;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -0.5em;
      top: calc(50% - 0.5em);
      margin-left: 0;
      margin-right: 0;
    }
  }

  &.popover {
    $color: #f9f9f9;

    .popover-inner {
      background: $color;
      color: black;
      padding: 24px;
      border-radius: 1em;
      box-shadow: 0 1em 30px rgba(black, 0.1);
    }

    .popover-arrow {
      border-color: $color;
    }
  }

  &[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.15s, visibility 0.15s;
  }

  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.15s;
  }
}

.tooltip.infotip {
  width: 300px;
  margin-top: 1.2em;
  max-width: 90%;
  background-color: white;
  box-shadow: 4px 7px 15px -2px rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  .tooltip-inner {
    background-color: transparent;
    box-shadow: none;
    color: #8d8b89;
    padding-top: 1.8em;
    text-align: left;
  }
  .tooltip-arrow {
    top: 0% !important;
    transform: translateY(-50%);
    border: none;
    width: 2.5em;
    height: 2.5em;
    background-color: #e51b24;
    left: -2.5em;
    border-radius: 50%;
    box-shadow: 4px 7px 15px -2px rgba(0, 0, 0, 0.19);
    text-align: center;
    &::before {
      content: 'i';
      font-size: 1.6em;
      font-weight: 600;
      line-height: 1.75em;
      color: white;
    }
  }
  @media #{$md} {
    background-color: transparent;
    box-shadow: none;
    .tooltip-arrow {
      top: 50% !important;
    }
  }
}
