$minim: '(max-width: 320px)';
$sm: '(min-width: 576px)';
$maxmd: '(max-width: 767px)';
$md: '(min-width: 768px)';
$lg: '(min-width: 992px)';
$maxlg: '(max-width: 991px)';
$xl: '(min-width: 1200px)';
$xxl: '(min-width: 1600px)';

$x2: '(-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)';
$x3: '(-webkit-min-device-pixel-ratio: 3) and (min-resolution: 288dpi)';

$primary: #f26522;
$secondary: #e51b24;
$black: #040a2b;
$navheight: 70px;
$navheight_desktop: 100px;

@mixin pseudo {
  display: block;
  position: absolute;
  content: '';
}
