<template>
  <div>
    <Navigation />
    <Nuxt class="main" />
  </div>
</template>

<script>
import Navigation from '~/components/Navigation'

export default {
  components: {
    Navigation
  }
}
</script>
<style lang="scss" scoped>
.main {
  overflow-x: hidden;
}
</style>
