<template>
  <div>
    <Hero />
    <Lead />
    <Benefits />
    <FaqList />
    <Footer />
  </div>
</template>

<script>
import { mapMutations } from 'vuex'

import Hero from '~/components/sections/Hero'
import Lead from '~/components/sections/Lead'
import Benefits from '~/components/sections/Benefits'
import FaqList from '~/components/sections/FaqList'
import Footer from '~/components/sections/Footer'

export default {
  components: {
    Hero,
    Lead,
    Benefits,
    FaqList,
    Footer
  },
  mounted() {
    const media = window.matchMedia('(max-width: 767px)')

    media.addListener(e => {
      if (e) {
        this.setMobile(e.matches)
      }
    })
    this.setMobile(media.matches)
  },
  methods: {
    ...mapMutations(['setMobile'])
  }
}
</script>
<style lang="scss">
.load-wrap {
  overflow: hidden;
  &.fadeIn {
    animation: fadeIn 0.5s ease;
    visibility: visible;
    height: auto;
  }
}
</style>
