<template>
  <div class="form-wrap">
    <FadeTransition>
      <div v-if="!isLoading" key="form">
        <keep-alive>
          <form novalidate @submit.prevent="onSubmit">
            <CustomInput
              v-model="formData.username"
              v-validate="'required|min:3|max:100'"
              :flags="fields.username"
              :error="errors.first('username')"
              name="username"
              placeholder="Imię"
            />
            <CustomInput
              v-model="formData.surname"
              v-validate="'required|min:3|max:100'"
              :flags="fields.surname"
              :error="errors.first('surname')"
              name="surname"
              placeholder="Nazwisko"
            />
            <div
              v-tooltip="{
                placement: infoTipPlacement,
                offset: '50',
                classes: 'infotip',
                trigger: 'manual',
                delay: { show: 0, hide: 500 },
                autoHide: true,
                handleResize: true,
                show: showInfoTip,
                container: '.form-wrap',
                content:
                  'Pamiętaj, że numer telefonu oraz adres e-mail podany podczas rejestracji musi być taki sam jak ten, który masz przypisany do swojego konta na www.getinbank.pl'
              }"
              style="position: relative"
              @click.stop="showInfoTip = true"
            >
              <CustomInput
                v-model="formData.email"
                v-validate="{
                  required: true,
                  regex: /^[a-z][a-z|0-9|]*([_][a-z|0-9]+)*([.][a-z|0-9]+([_][a-z|0-9]+)*)?@[a-z][a-z|0-9|]*\.([a-z][a-z|0-9]*(\.[a-z][a-z|0-9]*)?)$/,
                  max: 100
                }"
                :flags="fields.email"
                :error="errors.first('email')"
                name="email"
                placeholder="Adres e-mail"
                type="email"
              />
            </div>
            <div @click.stop="showInfoTip = true">
              <CustomInput
                v-model="formData.phone"
                v-mask="'###-###-###'"
                v-validate="{
                  required: true,
                  regex: /^[1-9][0-9]{2}\-[0-9]{3}\-[0-9]{3}$/,
                  max: 100
                }"
                :flags="fields.phone"
                :error="errors.first('phone')"
                name="phone"
                placeholder="Numer telefonu"
                type="tel"
              />
            </div>
            <div class="legal-wrap">
              <CustomInput
                v-model="formData.legal1"
                v-validate="'required:true'"
                :error="errors.first('legal1')"
                :flags="fields.legal1"
                name="legal1"
                type="checkbox"
              >
                Potwierdzam zapoznanie się z informacją administratora danych i
                wyrażam zgodę na kontakt telefoniczny w celu przekazywania
                informacji o charakterze marketingowym.
              </CustomInput>
            </div>
            <Button type="submit">Zarejestruj się</Button>
          </form>
        </keep-alive>
      </div>
      <div v-else-if="isLoading" key="loader" class="result">
        <Loader :success="isSuccess" />
        <h3 v-if="errorMessage !== ''">{{ errorMessage }}</h3>
      </div>
    </FadeTransition>
  </div>
</template>
<script>
import FadeTransition from '~/components/FadeTransition'
import CustomInput from '~/components/CustomInput'
import Loader from '~/components/Loader'
import Button from '~/components/Button'
import EventBus from '~/components/../utils/event-bus'

export default {
  components: {
    FadeTransition,
    CustomInput,
    Button,
    Loader
  },
  data() {
    return {
      formData: {
        username: '',
        phone: '',
        email: '',
        nip: '',
        sharecode: '',
        legal1: false
      },
      isLoading: false,
      isSuccess: null,
      errorMessage: '',
      showInfoTip: false
    }
  },
  computed: {
    infoTipPlacement() {
      return this.$store.state.isMobile ? 'bottom' : 'right-start'
    }
  },
  mounted() {
    window.document.addEventListener('click', () => {
      this.showInfoTip = false
    })
  },
  methods: {
    async onSubmit() {
      const isValid = await this.$validator.validate()
      if (!isValid) {
        const input = this.$validator.fields
          .find({ name: this.$validator.errors.items[0].field })
          .el.querySelector('input')
        if (input) {
          input.focus()
        }
      } else {
        try {
          this.isLoading = true
          this.isSuccess = null
          await this.$axios.$post('/save_personal_data', this.formData)
          this.isSuccess = true
        } catch ({ response }) {
          this.isSuccess = false
          this.errorMessage =
            response && response.status === 406
              ? response.data.status
              : 'Wystąpił błąd podczas wysyłania formularza'
        }
        setTimeout(() => {
          if (this.isSuccess) {
            EventBus.$emit('changeStepperPosition', 1)
            return
          }
          this.errorMessage = ''
          this.isLoading = false
        }, 2000)
      }
    }
  }
}
</script>
<style lang="scss">
.form-wrap {
  .share-code {
    text-align: left;
    .custom-input {
      width: 18em;
      max-width: 80%;
      border: 1px dashed #eb001b;
      ::placeholder {
        color: #eb001b;
      }
    }
    .tip {
      width: 1em;
      height: 1em;
      line-height: 1em;
      margin: 1em;
      display: inline-block;
      text-align: center;
      border-radius: 50%;
      border: 1px solid #eb001b;
      color: #eb001b;
      padding: 0.2em;
      cursor: pointer;
    }
  }
  .legal-wrap {
    margin: 1em 0;
    font-size: 0.85;
  }
  .result {
    .loader {
      margin: 0 auto;
    }
    h3 {
      color: $primary;
      background-color: #efefef;
      padding: 1.5em 1em;
      max-width: 500px;
      margin: 1em auto;
      border-radius: 5px;
    }
  }
}
</style>
