<template>
  <div style="margin: 3em 0 2em;">
    <div data-aos="fade-in">
      <Navigation v-model="currentStep" :step-labels="stepNames" />
    </div>
    <div data-aos="fade-in">
      <div class="content-wrap">
        <FadeTransition>
          <keep-alive>
            <component :is="`Step${currentStep + 1}`" />
          </keep-alive>
        </FadeTransition>
      </div>
    </div>
  </div>
</template>

<script>
import Navigation from './stepperNavigation'
import FadeTransition from '~/components/FadeTransition'
import * as Steps from './steps'
import EventBus from '~/components/../utils/event-bus'

export default {
  components: {
    Navigation,
    FadeTransition,
    ...Steps
  },
  data() {
    return {
      currentStep: 0,
      stepNames: [
        'Zarejestruj się',
        'Dokonaj transakcji',
        'Otrzymaj voucher',
        'Zyskuj podwójnie'
      ],
      stepCount: 0
    }
  },
  mounted() {
    EventBus.$on('changeStepperPosition', val => (this.currentStep = val))
  }
}
</script>
