<template>
  <div class="step__wrap">
    <div class="step__heading">
      <h2>
        <b> <slot name="heading"/></b>
      </h2>
      <p>
        <slot name="subtitle" />
      </p>
    </div>
    <slot />
  </div>
</template>
<style lang="scss">
.step__wrap {
  // @media #{$md} {
  //   max-width: 90%;
  //   margin: 0 auto;
  // }
  .step__heading {
    margin: 2em 0;
  }
  ol {
    text-align: left;
    padding-left: 1em;
    li {
      font-weight: 600;
      p {
        font-weight: lighter;
      }
    }
  }
}
</style>
